---
layout: default
---

{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

<h1>Download</h1>
{% include date_and_social_share.html %}
{{ content }}
<!--PLACEHOLDER hrefs-->
<div class="download-container">
    <div class="download-item">
        <p> Download for Widnows: </p> 
        <a download href="assets/downloads/window.txt">here</a>
    </div>
    <div class="download-item">
        <p> Download for Linux: </p> 
        <a download href="assets/downloads/linus.txt">here</a>
    </div>
</div>
<hr>